.App {
  /* text-align: center; */
  display: flex;
  background-color: var(--bg-clr);
  height:100vh;
  color: white;
}

.desc{
flex:20%;
max-width: 20%;
border-right: 3px solid gray;
transition: 0.1s ease-in;
position: 'fixed';

}

.main{
flex:80%;
/* max-width: 80%; */
/* max-width: 100%; */


}

.dark-theme{
  --bg-clr: black;
  --wh-txt-clr:white;
  --wh-btn-clr:white;
  --btn-hvr:#3772ff;
}

.light-theme{
  --bg-clr: white;
  --wh-txt-clr: #3772ff;
  --wh-btn-clr:black;
  --btn-hvr:#3772ff;


}

@media only screen and (min-width: 1200px) {
  .dark-theme {
    --mq-wd: 40px;
    --mq-ht: 40px;
    --mq-fs: 1.3rem;
    --mq-lh: 40px;
    --mq-m: 0;
  }
  .light-theme {
    --mq-wd: 40px;
    --mq-ht: 40px;
    --mq-fs: 1.3rem;
    --mq-lh: 40px;
    --mq-m: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .dark-theme {
    --mq-wd: 30px;
    --mq-ht: 30px;
    --mq-fs: 1rem;
    --mq-lh: 30px;
    --mq-m: 0;
  }
  .light-theme {
    --mq-wd: 30px;
    --mq-ht: 30px;
    --mq-fs: 1rem;
    --mq-lh: 30px;
    --mq-m: 0;
  }
}

@media only screen and (max-width: 860px) {
  .dark-theme {
    --mq-wd: 25px;
    --mq-ht: 25px;
    --mq-fs: 0.9rem;
    --mq-lh: 25px;
    --mq-m: 0;
  }
  .light-theme {
    --mq-wd: 25px;
    --mq-ht: 25px;
    --mq-fs: 0.9rem;
    --mq-lh: 25px;
    --mq-m: 0;
  }
}